body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    background: #2c2c2c;
}

#game-map {
    background-color: #cacaca;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(41, 1fr);
    grid-template-columns: repeat(41, 1fr);
}

/*#game-timer {*/
/*    background-color: #948f8f;*/
/*    width: 100vmin;*/
/*    height: 9vmin;*/
/*    margin-bottom: 1vmin;*/
/*}*/

.a-snake-body {
    background-color: #386994;
    border: .25vmin solid black;
}

.b-snake-body {
    background-color: #f55733;
    border: .25vmin solid black;
}

.general-expand-food {
    background-color: #ffa000;
    border: .25vmin solid black;
    border-radius:999em;
}

.mega-expand-food {
    background-color: #14a343;
    border: .25vmin solid black;
    border-radius:999em;
}

.double-fast-food {
    background-color: #571bbf;
    border: .25vmin solid black;
    border-radius:999em;
}

.food {
    background-color: #e60ecc;
    border: .25vmin solid black;
    border-radius:999em;
}
